@{
    var taxTypeSelectorHtml = await Component.InvokeAsync("TaxTypeSelector");
    var currencySelectorHtml = await Component.InvokeAsync("CurrencySelector");
    var languageSelectorHtml = await Component.InvokeAsync("LanguageSelector");
    var headerSelectorWidgetHtml = await Component.InvokeAsync("Widget", new { widgetZone = "header_selectors" });
}

<div class="header">
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderBefore })
    <div class="header-upper">
        <div class="center">
            <div class="header-links-wrapper">
                @await Component.InvokeAsync("HeaderLinks")
            </div>
            @await Component.InvokeAsync("AdminHeaderLinks")
        </div>
    </div>
    <div class="header-lower">
        <div class="center">
            <div class="header-logo">
                @await Component.InvokeAsync("Logo")
            </div>
            @if (!String.IsNullOrEmpty(taxTypeSelectorHtml.ToHtmlString()) ||
                !String.IsNullOrEmpty(currencySelectorHtml.ToHtmlString()) ||
                !String.IsNullOrEmpty(languageSelectorHtml.ToHtmlString()))
            {
                <div class="header-selectors-wrapper">
                    <div class="header-selectors">
                        @taxTypeSelectorHtml
                        @currencySelectorHtml
                        @languageSelectorHtml
                        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderSelectors })
                    </div>
                </div>
            }
            <div class="search-box store-search-box">
                @await Component.InvokeAsync("SearchBox")
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HeaderAfter })
</div>